 
body {
  margin: 0; 
  padding: 0; 
  background-color: #fff; 
}

.login-page {
 
  background-image: url('./images/internet-3563638.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
}
.signup-page {
  /* Background image for login page */
  background-image: url('./images/internet-3563638.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
}
.about-page {
  /* Background image for login page */
  background-image: url('./images/about33.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
}
.contact{
  /* Background image for login page */
  background-image: url('./images/about44.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
}

.Addnote-page{
  /* Background image for login page */
  background-image: url('./images/notepad-3297994.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
}
